
shiny_casen/Casen 2017.sav
shiny_casen/Casen2017.csv
shiny_casen/Casen2017_dos_comunas.csv

shiny_casen/CASEN_2017_2.xlsx
shiny_casen/CASEN_2017.csv
shiny_casen/CASEN_2017_1.csv
shiny_casen/CASEN_2017_1-10000.csv
shiny_casen/.Rhistory
shiny_casen/.Rhistory
