
shiny_casen/Casen 2017.sav
shiny_casen/Casen2017.csv
shiny_casen/Casen2017_dos_comunas.csv

shiny_casen/CASEN_2017_2.xlsx
shiny_casen/CASEN_2017.csv
shiny_casen/CASEN_2017_1.csv
shiny_casen/CASEN_2017_1-10000.csv
shiny_casen/.Rhistory
shiny_casen/.Rhistory
shiny_casen/.Rhistory

shiny_casen/.Rhistory
shiny_casen/casen_2006_full.csv
shiny_casen/Casen_2013_completa.csv
shiny_casen/CASEN_2013_MN_B_Principal.sav
shiny_casen/.Rhistory

shiny_casen/mydata2006.csv
shiny_casen/.Rhistory
shiny_casen/.Rhistory
shiny_casen/Casen2009Spss.sav
shiny_casen/casen2011_octubre2011_enero2012_principal_08032013spss.sav
shiny_casen/mydata2009.csv
shiny_casen/.Rhistory
shiny_casen/casen2006.sav
shiny_casen/mydata2011.csv
shiny_casen/casen2006.dta
shiny_casen/.Rhistory
shiny_casen/.Rhistory
shiny_casen/.Rhistory
shiny_casen/mydata2017.csv
shiny_casen/mydata2013.csv

shiny_casen/.Rhistory

shiny_casen/.Rhistory
shiny_casen/.Rhistory
shiny_casen/.Rhistory
shiny_casen/mydata2015.csv
shiny_casen/tabla_2015_csv_pon
shiny_casen/Casen 2017.dta
